<div class="footer">

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1>Ich bin der Footer - Bäm!</h1>
      <p>Hallo</p>
      {{ $NavigationCategories }}
    </div>
  </div>
</div>

</div>
