body {
    background-color: rgba(0,0,0,0.05);
}

#page-body{
  background-image: url('../resources/img/swirl.png.');
  background-repeat: repeat;
}

.top-bar{
  background-color: #666;
}

.navbar{
  background-color: rgb(252,252,252) !important;
}

.footer{
  background-color: rgba(0,0,0,0.8) !important;
  color: #000;
}
