body {
    background-color: rgba(0,0,0,0.05);
}

#page-body{
  background-image: url('ThemePasub/resources/img/swirl.png.');
  background-repeat: repeat;
  height: 600px;
}

.top-bar{
  background-color: #fff;
}

.navbar{
  background-color: rgb(252,252,252) !important;
}

.footer{
  background-color: rgba(0,0,0,0.8) !important;
  color: #fff;
}

.footer h1
{
  color: red !important; 
}
