<div class="footer">

  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
              <h3>Sie finden uns auch bei:</h3>
              <div class="social">Fb</div>
              <div class="social">Twitter</div>
              <div class="social">Instagram</div>
              <div class="social">Dribbble</div>
          </div>
      </div>
  </div>

</div>
